{% extends 'layouts/base.html' %}

{% block title %}AI 图片生成器{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=20250127">
{% endblock %}

{% block content %}
{% include 'partials/initial_input.html' %}
{% include 'partials/top_bar.html' %}
{% include 'partials/viewer.html' %}
{% include 'partials/history_panel.html' %}
{% include 'partials/gallery.html' %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}?v=20250127"></script>
{% endblock %}
